<hr/>
<div class="comment">
    <form class="form-group" action='/comment/' method="POST">
        {% csrf_token %}
        <input name="target" type="hidden" value="{{request.path}}"/>
        {{ comment_form }}
        <input type="submit" value="写好了">
    </form>
<!-- 评论列表 -->
    <ul class="list-group">
        {% for comment in comment_list %}
        <li class="list-group-item">
            <div class="nickname">
                <a href="{{ comment.website }}">{{ comment.nickname }}</a> <span>{{ comment.created_time }}</span>
            </div>
            <div>
                {{ comment.content }}
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- 新评论 -->
<div id="disqus_thread" style="margin-top:100px;"></div>
<script>
function load_err(){
    document.getElementById('disqus_thread').innerHTML = '<div style="text-align:center;margin:auto;">评论托管于Disqus 大陆内无法常规访问！</div>';
}
var disqus_config = function () {
this.page.url = location.href;
this.page.identifier = location.pathname;
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://jummywu.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    s.setAttribute('onerror', 'load_err()');
    s.async = true;
    d.body.appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
