{% load static %}
<!doctype html>
<html lang="utf-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    
    {% block style %}
    {% endblock %}
    <title>{% block title %} Index {% endblock %}| Jummy & Sweet</title>
</head>
<body>
    <header class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <nav class="nav">
                        <a class="logo" href="/">Jummy</a>
                        <a class="index" href="/">首页</a>

                        {% for cate in nav_cates %}
                        <a class="link" href="{% url 'category' cate.id %}">{{ cate.name }}</a>
                        {% endfor %}
                    </nav>
                </div>
                <div class="col-3">
                    <form action="/" method="GET" class="input-group search">    
                        <input typt="text" name="query" class="form-control" placeholder="Search for..." aria-label="Search for...">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-secondary" value="Go!"/>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="container main main-top">
        <div class="row">
            <div class="col-9 left-side">
                <div class="post-element">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-3 right-side">
                <div class="inner">
                    {% for side in side_bars %}
                    <div class="sidebar">
                        <div class="sidebar-title">{{ side.title }} </div>
                        <div class="sidebar-content">
                            {% if side.display_type == 1 %}
                            {% autoescape off %}
                            {{ side.content }}
                            {% endautoescape %}
                            {% elif side.display_type == 2 %}
                            <ul>
                                {% for post in recently_posts %}
                                <li><a href="{% url 'detail' post.id %}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% elif side.display_type == 3 %}
                            <ul>
                                {% for post in hot_posts %}
                                <li><a href="{% url 'detail' post.id %}">{{ post.title }}-{{ post.pv }}</a></li>
                                {% endfor %}
                            </ul>
                            {% elif side.display_type == 4 %}
                            <ul>
                                {% for comment in recently_comments %}
                                <li>{{ comment.context }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container classify">
	    <h5>其他分类:</h5>
	    <ul class="nav nav-pills">
		    {% for cate in cates %}
		    <li><a href="{% url 'category' cate.id %}">{{ cate.name }}</a></li>
		    {% endfor %}
	    </ul>
    </div>

    <footer class="footer">
	    <div class="container power">
		    <span class="text-muted">Power by Typeidea@Jummy</span>
	    </div>
	    {% block javascript %}
	    {% endblock %}
</footer>
