{% extends "./base.html" %}
{% load static %}

{% block style %}
<link href="{% static 'css/desert.css' %}" rel="stylesheet">
<style>
.linenums li{
    background-color: inherit;
}
</style>
{% endblock %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category' post.category.id %}">{{ post.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">正文</li>
    </ol>
</nav>

<div class="post-elements-title">
    <h3 class="post-element-title">
	    {{ post.title }}     
    </h3>

    <div class="post-message">
        <ul class="nav nav-pills">
	<li><p class="nav-link">
       	    <i class="fas fa-paperclip mr-1"></i>
            <a href="{% url 'category' post.category_id %}">{{ post.category.name }}</a>
	</p></li>
	<li><p class="nav-link">
            {% for tag in post.tags.all %}
	    <i class="fas fa-tags mr-1"></i>
            <a href="{% url 'tag' tag.id %}">
                {{ tag.name }}
            </a>
            {% endfor %}
	</p></li>
	<li><p class="nav-link">
	    <i class="fas fa-user-circle mr-1"></i>
            <a href="{% url 'author' post.owner_id %}">{{ post.owner.username }}</a>
	</p></li>
	<li><p class="nav-link">
		<i class="fas fa-eye mr-1"></i>
		{{ post.uv }}
	</p></li>
	<li><p class="nav-link">
	    <i class="fas fa-calendar mr-1"></i>
            {{ post.created_time }}
	</p></li>
        </ul>
    </div>

    <article class="content">
        {% autoescape off %}
        {{ post.html }}
        {% endautoescape %}
    </article>
	
    <div class="eof">
	    <p>---- -- - EOR - -- ----</p>
    </div>

    {% include 'comment/block.html' %}
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/prettify.js' %}"></script>
<script>
window.onload = function(){
    PR.prettyPrint();
}
</script>
{% endblock %}
