{% extends "./base.html" %}

{% block content %}
{% if query %}
你的搜素关键词:{{ query }} 的结果如下
{% endif %}
{% if posts %}
{% for post in posts %}
<div class="post-element">
    <h3 class="post-element-title">
        <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
    </h3>
    <div>
        <nav class="nav">
            分类:<a class="nav-link post-element-nav" href="{% url 'category' post.category_id %}">{{ post.category.name }}</a>
            标签:{% for tag in post.tags.all %}
            <a class="nav-link post-element-nav" href="{% url 'tag' tag.id %}">
                {{ tag.name }}
            </a>
            {% endfor %}
            作者:<a class="nav-link post-element-nav" href="{% url 'author' post.owner_id %}">{{ post.owner.username }}</a>
            创建时间:<a class="nav-link post-element-nav" href="#">{{ post.created_time }}</a>
        </nav>
    </div>
    <div class="post-element-desc">
        <p>{{ post.desc }}</p>
    </div>
</div>
    {% endfor %}
    
    <div>
  <!--  {% if page_obj.has_previous %}
        {% if query %}
        <a href="?page={{ page_obj.previous_page_number }}&query={{ query }}">上一页</a>
        {% else %}
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
    {% endif %}
    Page{{ page_obj.number }} of {{ paginator.num_pages }}.
    {% if page_obj.has_next %}
        {% if query %}
        <a href="?page={{ page_obj.next_page_number }}&query={{ query }}">下一页</a>
        {% else %}
        <a href="?page={{ page_obj.next_page_number }}">下一页</a>
        {% endif %}
        {% endif %} -->
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if query %}
            <li class="page-item">
                <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}1{% endif %}&query={{query}}">
                    上一页
                </a>
            </li>
            {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="{% if page_obj.number == page %}#!{% else %}?page={{ page }}&query={{ query }}{% endif %}">{{ page }}</a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}{{ page_obj.paginator.num_pages }}{% endif %}&query={{query}}">
                    下一页
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}1{% endif %}">
                    上一页
                </a>
            </li>
            {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="{% if page_obj.number == page %}#!{% else %}?page={{ page }}{% endif %}">{{ page }}</a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}{{ page_obj.paginator.num_pages }}{% endif %}">
                    下一页
                </a>
            </li>
        {% endif %}
    </ul>
        </nav>
    </div>

    {% else %}
    Empty!!
    {% endif %}
    {% endblock %}
